* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.controls {
    background-color: #f3f3f3;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    display: flex;
}
.controls input {
    padding: 6px;
    flex: 1;
}

.controls select {
    border-radius: 10px;
    border: 1px solid #ccc;
}

#bookForm {
    margin-top: 10px;
    padding: 20px;
}

h1 {
    padding: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.container .item {
    max-width: 250px;
    height: auto;
    position: relative;
}

.container .item img {
    width: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
}
.container .item .date {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffffff71;
    padding: 4px;
    border-radius: 6px;
    backdrop-filter: blur(5px);
    font-weight: 600;
}